<button type="button" class="button" data-toggle="modal" data-target="#myModal">Open
</button>
<div class="modal " id="myModal">
    <div class="modal-dialog modal-md">
        <div class="modal-content modal-width  text-left">
            <div class="modal-header head">
                <h4 class="modal-title">Ticket</h4>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">

                <div class="whole-adjust">

                    <form [formGroup]="RegistrationForm">

                        <div class="row pb-2">
                            <div class=col-6>
                                <div class><label>Customer Name -</label>
                                </div>

                                <div>
                                    <select class="style" formControlName="customerName">
                                        <option *ngFor="let item of myArray" [value]="item.CustomerID">
                                            {{item.FirstName+" "+ item.MiddleName +" " + item.LastName}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-6">

                            </div>


                        </div>
                        <div class="row pb-2">
                            <div class=col-6>
                                <div class><label>Contract Number -</label>
                                </div>
                                <div>
                                    <input class="style"
                                        [class.is-invalid]="contractNumber.invalid && contractNumber.touched"
                                        (input)="onPress()" name="contract" formControlName="contractNumber">
                                    <div id="showContractInput">
                                        <div (click)="selectValue(contract.ContractNumber)"
                                            *ngFor="let contract of secArray"> {{contract.ContractNumber}}</div>
                                    </div>
                                    <!-- <option *ngFor="let contract of secArray" [value]="contract.ContractNumber">
                                            {{contract.ContractNumber}}</option> -->


                                    <div *ngIf="contractNumber.invalid && contractNumber.touched">
                                        <small class="text-danger" *ngIf="contractNumber.errors?.required">Please select
                                            this field</small>
                                    </div>
                                </div>

                            </div>

                            <div class="col-6">
                                <div class><label>Labour ID -</label>
                                </div>
                                <div class>
                                    <select class="style" formControlName="labourID">
                                        <option *ngFor="let labour of labourID" [value]="labour.EmployeeId">
                                            {{labour.Name}}</option>
                                    </select>
                                </div>

                            </div>
                        </div>

                        <div class="row pb-2">
                            <div class=col-6>
                                <div class><label>Ticket Channel -</label>
                                </div>
                                <div class>
                                    <select class="style" formControlName="ticketChannel"
                                        [class.is-invalid]="ticketChannel.invalid && ticketChannel.touched">
                                        <option>Phone</option>
                                        <option>Call Center</option>
                                    <option>Customer Portal</option>
                                        <option>Email</option>


                                    </select>
                                    <div *ngIf="ticketChannel.invalid && ticketChannel.touched">
                                        <small class="text-danger" *ngIf="ticketChannel.errors ?.required">Please select
                                            any option</small>
                                    </div>
                                </div>

                            </div>

                            <div class="col-6">

                            </div>
                        </div>

                        <div class="row pb-2">
                            <div class="col-6">
                                <div class><label>Contact No -</label>
                                </div>
                                <div>
                                    <input type="number" class="design"
                                        [class.is-invalid]="contact.invalid && contact.touched"
                                        formControlName="contact" name="">
                                </div>
                                <div *ngIf="contact.invalid && contact.touched">
                                    <small class="text-danger" *ngIf="contact.errors ?.required">Please fill out this
                                        field</small>
                                </div>

                            </div>
                            <div class="col-6">
                                <div class><label>Email -</label>
                                </div>
                                <div>
                                    <input type="email" [class.is-invalid]="email.invalid && email.touched"
                                        formControlName="email" class="design" name="email">
                                </div>
                                <div *ngIf="email.invalid && email.touched">
                                    <small class="text-danger" *ngIf="email.errors ?.required">please fill out this
                                        field</small>
                                </div>
                            </div>
                        </div>


                        <div class="row pb-2">
                            <div class="col-6 ">
                                <div class><label>Ticket Type -</label>
                                </div>
                                <div>
                                    <select class="style" formControlName="ticketType">
                                        <option *ngFor="let ticket of ticketValue" [value]="ticket.ID">
                                            {{ticket.Name}}
                                        </option>
                                    </select>
                                </div>

                            </div>
                            <div class="col-6">
                                <div class><label>Department -</label>
                                </div>
                                <div class>
                                    <select class="style" formControlName="department">
                                        <option *ngFor="let item of departmentValue" [value]="item.ID">{{item.Name}}
                                        </option>
                                    </select>
                                </div>

                            </div>
                        </div>

                        <div class="row pb-2">
                            <div class="col-6 ">
                                <div class><label>Assigned To -</label>
                                </div>
                                <div>
                                    <input type="text" id="myInput" (input)="showAssignToValue()"
                                        formControlName="assignTo">
                                    <!-- <select class="style" id="assignTo" formControlName="assignTo">
                                        <option *ngFor="let item of assignToValue" [value]="item.ID">{{item.Name}}
                                        </option>
                                    </select> -->
                                    <div style="display:none" id="showInput">
                                        <div *ngFor="let item of assignToValue" (click)="onclick(item.Name)">
                                            {{item.Name}}
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-6">
                                <div class><label>Priority -</label>
                                </div>
                                <div>
                                    <select class="style" formControlName="priority"
                                        [class.is-invalid]="priority.invalid && priority.touched">

                                        <option *ngFor="let item of priorityValue" [value]="item.ID">{{item.Name}}
                                        </option>
                                    </select>
                                    <div *ngIf="priority.invalid && priority.touched">
                                        <small class="text-danger" *ngIf="priority.errors ?.required">Please select any
                                            option</small>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row pb-2">
                            <div class="col-6 ">
                                <div class><label>Category -</label>
                                </div>
                                <div class>
                                    <select class="style" formControlName="category">
                                        <option *ngFor="let item of categoryList" [value]="item.TicketGroupID">
                                            {{item.TicketGroupName}}</option>
                                    </select>
                                </div>

                            </div>
                            <div class="col-6">
                                <div class><label>Sub Category -</label>
                                </div>
                                <div class>
                                    <select class="style" formControlName="subCategory">
                                        <option *ngFor="let item of subCategoryList" [value]="item.Id">
                                            {{item.Description}}</option>
                                    </select>
                                </div>

                            </div>
                        </div>

                        <div class="row pb-2">
                            <div class=col>
                                <div class><label>Subject -</label>
                                </div>
                                <div>
                                    <input class="design" formControlName="subject">
                                </div>
                            </div>



                        </div>

                        <div class="row pb-2">

                            <div class=col>
                                <div class><label>Description -</label>
                                </div>
                                <div>
                                    <textarea class="style" formControlName="description"></textarea>
                                </div>
                            </div>



                        </div>

                        <div class=row>
                            <div class="col">

                                <label class="margin">File</label>
                                <input type="File" id="file" class="choose" formControlName="file" name="">





                            </div>

                        </div>


                    </form>
                </div>


            </div>

            <div class="modal-footer">
                <button type="button" class="button" name="name">Create</button>

            </div>



        </div>

    </div>



</div>