
    .button{
        padding:0px 12px;
        border:2px solid #353a40;
        border-radius: 4px;
    
    }
    
    .javascript{
        font-family: Georgia;
    }
    
    
    .checkbox{padding-left:18px;}
    
    .radio-button{
        padding:0px 35px;
    }
    
    .modal .modal-width {
    
        width:600px;
    
    }
    
    .modal .modal-content .head {
    
        border-bottom:3px solid #ed4e2a;
    }
    .whole-adjust .row .style{
        padding:5px;
        width:100%;
        border-color:#d5d5d5;
        border-radius: 3px;
        color:#858585;
    }
    
    .whole-adjust .row .design {
    
        padding:5px;
        width:100%;
        border:1px solid #d5d5d5; 
        border-radius: 3px;
        color:#858585;
    
        
    }
     .modal-footer .button {
    
         padding-top:3px;
         padding-bottom:3px ;
         background-color:#215b31; 
         color:white;
     }
    
     .whole-adjust .row .choose {
    
         margin-left:35px;
         padding-left: 35px;
    
         
     }
    
    
    
     .whole-adjust .row .margin {
    
         margin-left:15px;
     }

     #showInput{
        border :1px solid gold;
        overflow :auto ;
        height :100px;
        display :none;
        
     } 
     #showContractInput{
        border :1px solid gold;
        overflow :auto ;
        height :100px;
        display :none;
     }
    