

.header{background-color:#333333;
    color:white; 
    font-family: bolder;
    padding-top:30px;
    padding-bottom: 30px;
    
    
    }
    .header .h2{
        font-size:80px;
    }
    .header p{
        line-height:1.3rem;
    }
    .c{
        color:#c0bab6;
    }
    
    .h{  
        color:#C0BAB6;
        font-weight: bold;
        line-height: 1rem;
    
    }
    .nav-style{
        background-color: #232323;
        display:flex;
        width:100%;
        padding-bottom: 14px; 
        padding-top:14px;
        padding-left: 12px;
        margin-left:15px;
        margin-right: 15px}
    
    
    .table-container{
        margin-top: 70px;
        
    
    }
    
    
    
    
    
    
    
    
        .c1{margin-top: 60px;}
    
    .container-7 .row .c37{
             font-family: Georgia;
             color:orange;
         }
         .container-7 .row .c37 .c39  .c40{
             border-bottom: 1px solid #484848;
             padding-bottom: 3px; 
         }
         .c41{
             color:#727272;
             font-family:Georgia;
             font-weight: bold; 
         }
    
    .container-8{background-color:#232323;
    padding-top: 4px;
    margin-bottom: 4px}
    