<div class="jumbotron-fluid  header ">


  <div class="container">
    <div class="row">
      <div class="col ">
        <h2 class="h">Basic 90</h2>
        <p class="h">Free HTML5 Website Template </p>
      </div>
      <div class="col align-items-center d-flex justify-content-end">

        <input type="text" placeholder="Search Our Website">
        <button type="button" class="btn-md text-white btn-warning " name="button">SUBMIT</button>



      </div>
    </div>

    <div class="row">

      <div class="nav nav-style">
        <div class="nav-item">
          <a class="nav-link c" href="#">TEXT LINK</a>
        </div>
        <div class="nav-item">
          <a class="nav-link c" href="#">TEXT LINK</a>
        </div>
        <div class="nav-item">
          <a class="nav-link c" href="#">TEXT LINK</a>
        </div>
        <div class="nav-item a">
          <a class="nav-link c" href="#">TEXT LINK</a>
        </div>
        <div class="nav-item">
          <a class="nav-link c" href="#">TEXT LINK</a>
        </div>



      </div>

    </div>
  </div>
</div>
<div class="main-content">

  <div class="container">
    <div class="table-container">
      <div class="container-1">
        <div class="row">
          <div class="col">
            <h3>Table</h3>
          </div>
          <div class="col text-right">
            <app-pop-up></app-pop-up>
          </div>
        </div>

        <div class="">
          <table class="table table-dark">
            <thead>
              <tr>
                <th *ngFor="let item of ticketList" (click)="sort(item)">{{item.Name}}</th>
              </tr>
            </thead>
            <tbody id="table-body">
              <tr *ngFor="let item of renderValueList">

                <td>{{item.CustomerName}}</td>
                <td>{{item.ContractNumber}}</td>
                <td>{{item.CustomerId}}</td>
                <td>{{item.TicketChannelName}}</td>
                <td>{{item.ContactNo}}</td>
                <td>{{item.Email}}</td>
                <td>{{item.TicketTypeName}}</td>
                <td>{{item.TicketAssignGroupName}}</td>
                <td>{{item.AssignedTo}}</td>
                <td>{{item.PriorityName}}</td>
                <td>{{item.GroupName}}</td>
                <td>{{item.SubGroupName}}</td>

              </tr>

            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item">
              <button>First</button>
            </li>

            <li class="page-item">
              <button>Pre</button>
            </li>

            <li class="page-item">
              <button>Next</button>
            </li>

            <li class="page-item">
              <button>Last</button>
            </li>

            <select id="show-record" [(ngModel)]="pageSize" (click)="showRecord()">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>20</option>
              <option>50</option>
            </select>

          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="jumbotron-fluid c1" style="background-color: #333333;">
    <div class="container " style="padding-top:35px ; padding-bottom:35px;">
      <div class="container-7">
        <div class="row">
          <div class="col c37">

            <div class="c38">
              <a class="d-block" style="color:#efefef; font-family: Georgia; font-weight: bold; padding-bottom: 17px;"
                href="#">LINK BLOCK</a>
            </div>
            <div class="c39">
              <p class="c40">Lorem ipsum dolor sit</p>
              <p class="c40">Amet consectetur</p>
              <p class="c40">Praesent vel sem id</p>
              <p class="c40">Curabitur hendrerit est</p>
              <p class="c40">Sed a nulla urna</p>
            </div>



          </div>
          <div class="col c37">
            <div class="c38">
              <a class="d-block" style="color:#efefef; font-family: Georgia; font-weight: bold; padding-bottom: 17px;"
                href="#">LINK BLOCK</a>
            </div>
            <div class="c39">
              <p class="c40">Lorem ipsum dolor sit</p>
              <p class="c40">Amet consectetur</p>
              <p class="c40">Praesent vel sem id</p>
              <p class="c40">Curabitur hendrerit est</p>
              <p class="c40">Sed a nulla urna</p>
            </div>

          </div>
          <div class="col c37">
            <div class="c38">
              <a class="d-block" style="color:#efefef; font-family: Georgia; font-weight: bold; padding-bottom: 17px;"
                href="#">LINK BLOCK</a>
            </div>
            <div class="c39">
              <p class="c40">Lorem ipsum dolor sit</p>
              <p class="c40">Amet consectetur</p>
              <p class="c40">Praesent vel sem id</p>
              <p class="c40">Curabitur hendrerit est</p>
              <p class="c40">Sed a nulla urna</p>
            </div>

          </div>
          <div class="col c37">
            <div class="c38">
              <a class="d-block" style="color:#efefef; font-family: Georgia; font-weight: bold; padding-bottom: 17px;"
                href="#">LINK BLOCK</a>
            </div>
            <div class="c39">
              <p class="c40">Lorem ipsum dolor sit</p>
              <p class="c40">Amet consectetur</p>
              <p class="c40">Praesent vel sem id</p>
              <p class="c40">Curabitur hendrerit est</p>
              <p class="c40">Sed a nulla urna</p>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="container-8">
      <div class="container py-1">

        <div class="row  c41">
          <div class="col c42 ">
            <p>Copyright@2009-2020-All Rights Reserved-Domain Name</p>
          </div>
          <div class="col c42 text-right">
            <p>Template by OS Templates</p>
          </div>

        </div>

      </div>
    </div>
  </div>